.contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background: $orange;
  z-index: 50;
  padding-left: 130px;
  padding-top: 50px;
  @media (max-width: $layout-breakpoint-tablet) {
    padding-left: 80px;
    padding-top: 15px;
    flex-direction: column;
  }
  @media (max-width: $layout-breakpoint-mobile) {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 150px;
    overflow-y: auto;
  }
  &__left {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    padding-right: 30px;
    @media (max-width: $layout-breakpoint-medium) {
      width: 40%;
    }
    @media (max-width: $layout-breakpoint-tablet) {
      width: 100%;
      padding: 0;
    }
    .contactTitle {
      h2 {
        text-transform: uppercase;
        font-size: 1.75rem;
        line-height: 2rem;
        margin-top: 10px;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
        @media (max-width: $layout-breakpoint-mobile) {
          font-size: 1.35rem;
          line-height: 1.45rem;
        }
      }
    }
    .develop {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px;
      @media (max-width: $layout-breakpoint-tablet) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        background: $red;
        z-index: 10;
      }
      .realart {
        display: flex;
        align-items: center;
        padding: 15px 0px;
        @media (max-width: $layout-breakpoint-tablet) {
          margin-left: 80px;
          padding: 5px 0px;
        }
        p {
          font-weight: 300;
          width: 100%;
        }
      }
      &__links {
        display: flex;
        border-top: 1px solid white;
        @media (max-width: $layout-breakpoint-tablet) {
          padding-left: 40px;
        }
        .design,
        .development {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 50%;
          padding: 15px 30px;
          @media (max-width: $layout-breakpoint-tablet) {
            padding: 10px 10px;
          }
          p {
            font-style: italic;
          }
        }
        .design {
          border-right: 1px solid white;
        }
      }
    }
  }
  &__right {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    padding-right: 80px;
    @media (max-width: $layout-breakpoint-medium) {
      width: 60%;
    }
    @media (max-width: $layout-breakpoint-tablet) {
      width: 100%;
    }
    @media (max-width: $layout-breakpoint-mobile) {
      padding: 0;
    }
    .ticket {
      display: flex;
      align-items: center;
      height: 170px;
      @media (max-width: $layout-breakpoint-medium) {
        height: 142px;
      }
      @media (max-width: $layout-breakpoint-mobile) {
        height: 100px;
      }
      p,
      a {
        font-size: 1.75rem;
        line-height: 2rem;
        font-style: italic;
        font-weight: 700;
        @media (max-width: $layout-breakpoint-tablet) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
        @media (max-width: $layout-breakpoint-mobile) {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
      }
    }
    .info {
      width: 100%;
      margin-bottom: 50px;
      &__block {
        display: flex;
        margin-bottom: 30px;
        @media (max-width: $layout-breakpoint-medium) {
          margin-bottom: 10px;
        }
        .left {
          display: flex;
          align-items: center;
          width: 30%;
          @media (max-width: $layout-breakpoint-mobile) {
            width: 40%;
          }
          p {
            font-weight: 300;
            opacity: 0.8;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          width: 70%;
          border-bottom: 1px solid white;
          padding: 10px 0px;
          @media (max-width: $layout-breakpoint-mobile) {
            width: 60%;
          }
          h2 {
            font-size: 1.75rem;
            line-height: 1.75rem;
            margin-bottom: 10px;
          }
          h3 {
            font-size: 1.4rem;
            margin-bottom: 2px;
          }
          h3,
          p,
          a {
            line-height: 1.8rem;
          }
          h3,
          p {
            font-weight: 300;
          }
        }
      }
    }
    .footer {
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        text-align: right;
        font-weight: 300;
      }
    }
  }
}
