.eventList {
  position: relative;
  display: flex;
  align-items: center;
  background: $red;
  height: 100%;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    width: 100%;
    background: $orange;
  }
  .eventContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: inherit;
    .eventCard {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 120px;
      cursor: pointer;
      user-select: none;
      &:hover {
        background: $orange;
      }
      .date {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border: 12px solid transparent;
          border-top: 12px solid rgb(139, 14, 14);
          border-right: 12px solid rgb(139, 14, 14);
        }
        .polygon {
          position: absolute;
          top: 0;
          left: 0;
        }
        .day {
          font-family: "Yeseva One";
          font-size: 4.5rem;
          line-height: 4rem;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 3rem;
            line-height: 2.5rem;
          }
        }
        .month {
          font-family: "Yeseva One";
          font-size: 2rem;
          text-transform: lowercase;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 1.5rem;
          }
        }
        .time {
          p {
            font-size: 1.5rem;
            line-height: 1.75rem;
            @media (max-width: $layout-breakpoint-medium) {
              font-size: 1rem;
              line-height: 1.25rem;
            }
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 30px;
        padding-left: 15px;
        width: 65%;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
        .title {
          text-transform: uppercase;
          font-size: 1.5rem;
          line-height: 1.75rem;
          text-align: right;
          margin-bottom: 5px;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 1.25rem;
            line-height: 1.5rem;
          }
        }
        p {
          margin: 2px 0px;
          opacity: 0.9;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 1rem;
            line-height: 1rem;
          }
        }
      }
    }
  }
}
.eventDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  .backgroundDesc {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  .eventHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $orange;
    height: 120px;
    padding: 10px 50px;
    border-right: 2px dashed white;
    @media (max-width: $layout-breakpoint-medium) {
      padding: 10px 30px;
    }
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      width: 60%;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 2.5rem;
        line-height: 3rem;
        width: 40%;
      }
    }
    .ticketInfo {
      p {
        text-align: right;
        margin: 5px;
        line-height: 1.75rem;
        letter-spacing: 0.5px;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
        &:nth-child(1) {
          font-weight: 600;
        }
      }
    }
    .ageInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75px;
      width: 75px;
      border: 2px solid white;
      border-radius: 50%;
      @media (max-width: $layout-breakpoint-medium) {
        border: 1px solid white;
        height: 50px;
        width: 50px;
      }
      p {
        font-size: 2rem;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .eventInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 50px;
    height: calc(100% - 140px);
    @media (max-width: $layout-breakpoint-medium) {
      padding: 10px 30px;
    }
    &__about {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 50px 0px;
      width: 60%;
      max-width: 500px;
      height: 100%;
      .textInfo {
        padding-right: 60px;
        p {
          font-size: 1.5rem;
          line-height: 2rem;
          letter-spacing: 0.5px;
          margin-bottom: 15px;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 1.25rem;
            line-height: 1.75rem;
          }
        }
      }
      .actorsTitle {
        margin-top: 50px;
        font-size: 1.75rem;
        line-height: 2rem;
        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }
      }
      .actors {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        p {
          margin-right: 5px;
          font-size: 1.5rem;
          line-height: 2rem;
          @media (max-width: $layout-breakpoint-medium) {
            font-size: 1.25rem;
            line-height: 1.75rem;
          }
        }
      }
    }
    &__poster {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 10px;
      width: 40%;
      height: 100%;
      .photo {
        width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
    }
  }
}

.logoNav {
  position: relative;
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    z-index: 10;
    img {
      max-width: 45%;
      min-width: 50px;
    }
  }
  .line {
    position: absolute;
    border-right: 1px solid white;
    border-left: 2px solid white;
    width: 30px;
    height: calc(100% + 25px);
    top: -25px;
    left: 35%;
    opacity: 0.3;
  }
}
