.logoNav {
  position: relative;
  z-index: 70;
  a {
    position: fixed;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    z-index: 10;
    @media (max-width: $layout-breakpoint-tablet) {
      height: 80px;
      width: 80px;
    }
    @media (max-width: $layout-breakpoint-mobile) {
      width: 60px;
    }
    img {
      width: 50px;
      @media (max-width: $layout-breakpoint-tablet) {
        width: 45px;
      }
      @media (max-width: $layout-breakpoint-mobile) {
        max-width: none;
        min-width: auto;
        width: 40px;
      }
    }
  }
  .line {
    position: fixed;
    border-right: 1px solid white;
    border-left: 2px solid white;
    width: 36px;
    height: calc(100% + 25px);
    top: -25px;
    left: 42px;
    opacity: 0.3;
    @media (max-width: $layout-breakpoint-tablet) {
      position: fixed;
      top: 0px;
      left: 25px;
      height: 100%;
      width: 30px;
    }
    @media (max-width: $layout-breakpoint-mobile) {
      border-right: 0.5px solid white;
      border-left: 1px solid white;
      opacity: 0.5;
      left: 16px;
      width: 28px;
      height: 100vh;
      z-index: 5;
    }
  }
}