// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-tablet: 1024px;
$layout-breakpoint-mobile: 600px;
$layout-breakpoint-small-mobile: 350px;

// Colors
$background: black;
$black: #333;
$red: #531c1b;
$grean: #6b807b;
$grey: #2d3133;
$orange: #e56329;
$greyWhite: #d7d7cb;